{% extends 'base.html.twig' %}

{% block title %}Administration du site{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('style/frame.css') }}">
{% endblock %}

{% block body %}
    <div class="iframe-class">
        <iframe src="{{ path('admin_menu') }}" frameborder="0" class="admin-menu" name="menuFrame" height="100%" width="18%"></iframe>
        <iframe src="{{ path('admin_ajout') }}" frameborder="0" class="admin-show" name="showFrame" height="100%" width="82%"></iframe>
    </div>
{% endblock %}
