
{% extends "base.html.twig" %}

{% block body %}   
    <h1>Bienvenue sur le site Corro.info</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia vero, dolor illo ab nesciunt repellendus minima similique tempore alias perferendis expedita ex placeat, eos vitae quibusdam, quos mollitia culpa accusamus harum! Non reiciendis ipsam quaerat qui perspiciatis, quo tenetur dolorem!</p>
    <p>Modi id porro in labore qui sapiente? Consequatur, quos sit voluptate quod voluptatibus quasi maxime iure reprehenderit enim aliquid. Voluptatibus dolores expedita optio voluptate pariatur, iure consectetur laboriosam, assumenda aliquid quidem architecto velit maiores quibusdam corrupti. Odio doloribus fugiat soluta?</p>
{% endblock %}