{% extends 'base.html.twig' %}

{% block title %}Exercices corrigés{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('style/frame.css') }}">
{% endblock %}

{% block body %}
    {% if classe.id is defined %}
        <div class="iframe-class">
            <iframe id="menu" src="{{ path('menu', {'id': classe.id}) }}" frameborder="0" width="26%" height="100%"  name="menu"></iframe>
            <iframe id="exercices" src="{{ path('exo_ac', {'id': classe.id}) }}" frameborder="0" width="74%" height="100%" name="exercices"></iframe>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {#<script>
        window.onload = function() {
            var taille = $(window).height();
            taille = taille - $('#navbar').height();
            $('#menu').css('height', taille);
            //alert($('#menu').height());
        };
    </script>#}
{% endblock %}
